#splash {
}
.splashdiv {
    display: flex;
}



.wordsdiv {
    height: 60%;
    width: 60%;
    border: white solid;
    background-color: whitesmoke;
    position: relative;
    opacity: 0.8;
    font-size: 50px;
    left: -690px;
    top: 200px;
    color: black;
    
}


#how {
    font-size: 70px;
}

#steps {
    font-size: 40px;
}