#splash {
}
.splashdiv {
    display: flex;
}



/* .wordsdiv {
    height: 60%;
    width: 60%;
    border: white solid;
    background-color: whitesmoke;
    position: relative;
    opacity: 0.8;
    font-size: 50px;
    left: -690px;
    top: 200px;
    color: black;
    
} */

.bigdiv {
    display: flex;

}

.hiw {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#how {
    font-size: 70px;
}

.stepfont {
    font-size: 40px;
}
#firstpic {
    position: relative;
    left: 38.9844px;
    top: -29.2969px;
}
#middlepic {
    position: relative;
    left: 40.9844px;
}

#steps1 {
    position: relative;
    top: -31.2969px;
}
#steps2 {
    position: relative;
    left: 28.0468px;
}

